body {
	background-color: #00008b;
}

/* navbar CSS */

.navbar {
  border-radius:25px;
  margin-top: 20px;
  height: 40px;
  width: 37%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.navbar li a {
  color: orange;
}

.navbar ul {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul li a:hover {
  color: green;
}



.announcements {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.heading {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* this stuff is just for heading and paragraphs. Not the most important*/
h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

.container {
	border-radius: 30%;
	margin-left: 28%;
	margin-right: 28%;
}

.justify {
  text-align: justify;
}

/* For the Contact Us part */

.bottom {
  position: fixed;
  bottom: 0;
  left: 20;
}

.Contact {
  border-radius:25px;
  margin-top: 20px;
  height: 40px;
  width: 63%;
  background-color: black;
  position: fixed;
  bottom: 0;
}

.Contact a:hover {
  color: green;
}

.Contact a {
  color: orange;
}