body {
	background-color: #00008b;
}

.navbar {
  border-radius:25px;
  margin-top: 20px;
  height: 40px;
  width: 30%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul li a:hover {
  color: green;
}



.announcements {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.Mike {
	border-radius: 25px;
	float: right;
	max-height: 50%;
}

.Lloyd {
	border-radius: 25px;
	float: left;
	max-width: 23%;
}

.heading {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* this stuff is just for heading and paragraph. Not too important*/
h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

.container {
	border-radius: 30%;
	margin-left: 28%;
	margin-right: 28%;
}
